# Cria o tipo/rótulo do serviço AIDL (rotulado no arquivo service_contexts)
type smartgas_service, service_manager_type, vendor_service;

# Cria o tipo/rótulo do daemon (rotulado no arquivo file_contexts)
type smartgas_daemon, domain;
type smartgas_daemon_exec, exec_type, vendor_file_type, file_type;

# Permissões
init_daemon_domain(smartgas_daemon);                        # O daemon será iniciado pelo init
vndbinder_use(smartgas_daemon);                             # O daemon usará o binder
allow smartgas_daemon servicemanager:binder { call transfer };

add_service(smartgas_daemon, smartgas_service)             # O daemon irá criar o serviço do smartgas

# Permite acesso aos arquivos do /sys
allow smartgas_daemon sysfs:file { getattr open read write };

# Cria e Permite leitura da propriedades de sistema do smartgas
vendor_public_prop(vendor_smartgas_prop)
allow smartgas_daemon vendor_smartgas_prop:file { open getattr map read };

# Permite que apps privilegiados acessem o daemon e o serviço
allow platform_app smartgas_daemon:binder call;
allow platform_app smartgas_service:service_manager find;

# Permite que apps normais acessem o daemon e o serviço
allow untrusted_app smartgas_daemon:binder call;
allow untrusted_app smartgas_service:service_manager find;
