Android.bp
art
audit2allow-read.txt
bionic
bootable
.bootstrap
bootstrap.bash
build
BUILD
compatibility
cts
dalvik
developers
development
device/amlogic
device/common
device/devtitans/kraken
device/generic
device/google
device/google_car
device/linaro
device/mediatek
device/sample
device/ti
external
frameworks
hardware
kernel
kernel_recompilado
libcore
libnativehelper
Makefile
out
packages
pdk
platform_testing
policy
prebuilts
.repo
screen.png
sdk
system
test
toolchain
tools
WORKSPACE