./Android.bp
.vscode/
art
audit2allow-read.txt
bionic
bootable
.bootstrap
bootstrap.bash
build
BUILD
compatibility
cts
dalvik
developers
development
device/amlogic
device/common
device/devtitans/kraken
device/generic/arm64  
device/generic/armv7-a-neon  
device/generic/art  
device/generic/car  
device/generic/common  
device/generic/goldfish/*
!device/generic/goldfish/x86_64-kernel.mk 
device/generic/goldfish-opengl  
device/generic/mini-emulator-arm64  
device/generic/mini-emulator-armv7-a-neon  
device/generic/mini-emulator-x86  
device/generic/mini-emulator-x86_64  
device/generic/opengl-transport  
device/generic/qemu  
device/generic/trusty  
device/generic/uml  
device/generic/vulkan-cereal  
device/generic/x86  
device/generic/x86_64
device/google
device/google_car
device/linaro
device/mediatek
device/sample
device/ti
external
frameworks
hardware
kernel
libcore
libnativehelper
Makefile
out
packages
pdk
platform_testing
policy
prebuilts
.repo
screen.png
sdk
system
test
toolchain
tools
WORKSPACE